<h2>Get your daily News</h2>
<div class="news-container">
    <mat-card *ngFor="let article of articles" class="article-container">
        <mat-card-content *ngIf="article['description'] != null && !article['description'].includes('http')">
            <h3><b>{{ article['title'] }}</b></h3>
            <img src="{{ article['image'] }}">
            <span *ngIf="article['publishedAt'] != null"><i>Published: {{ article['publishedAt'].split('T')[0] }}</i></span>
            <span>{{ article['description'] }}</span>
            <a href="{{ article['url'] }}" target="_blank">click to read full article</a>
        </mat-card-content>
    </mat-card>
</div>