.user-detail-header {
    background-color: #03B5C1;
    position: relative;

}

.user-detail-card {
    min-height: 250px;
    display: flex;
    align-items: flex-end;
    color: white;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    margin-left: 32px;

    h2 {
        margin-bottom: 0;
    }
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-position {
    position: absolute;
    top: 16px;
    right: 16px;
}