<mat-card>
    <mat-card-content>
        <table class="desktop">
            <tr>
                <th>Name</th>
                <th class="mobile-400">E-Mail</th>
                <th class="mobile">City</th>
            </tr>
            <tr *ngFor="let user of user$ | async" routerLink="{{ user.id }}">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td class="mobile-400">{{ user.email }}</td>
                <td class="mobile">{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)="openDialog()" class="add-button" mat-fab color="primary" aria-label="Example icon button with a delete icon" matTooltip="Add User" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>